div.container
{
  padding: 40px;
  margin-bottom: 45px;
  border: thin solid;
}

ul.drop, ul.drop li, ul.drop li *
{
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  border: none;
  outline: none;
}

ul.vertical
{
  width: 200px;
}

ul.vertical li
{
  display: list-item !important;
}

ul.drop li
{
  float: left;
  border-bottom: lightgray;
  padding: 5px;
}
ul.drop li a
{
  white-space: nowrap;
}

ul.drop li.odd
{

}

ul.drop li.even
{
  
}

ul.drop ul
{
  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;
}

.drop .sub-menu
{
  top: 0;
  left: 100%;  
}


ul.drop li ul, div.drop div div.group
{
  display: none;
}

.drop div
{
  display: inline-block;
  vertical-align: middle;
}